@model ProgramViewModel
    
@{
    ViewBag.Title = "Edit program";
}
<h2> @ViewBag.Title </h2>

@if(!Html.ViewData.ModelState.IsValid)
{
<p class="alert alert-warning">
    @Html.ValidationSummary()
</p>
}

@using (Html.BeginForm("Edit", "Curriculum", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.ClassId, new { @class = "control-label col-sm-2" })

        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.ClassId, (IEnumerable<SelectListItem>)ViewBag.ClassListItems, new {@class="form-control col-sm-6"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SubjectId, new { @class = "control-label col-sm-2" })

        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.SubjectId, (IEnumerable<SelectListItem>)ViewBag.SubjectListItems, new {@class="form-control col-sm-6"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SemesterId, new { @class = "control-label col-sm-2" })

        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.SemesterId, (IEnumerable<SelectListItem>)ViewBag.SemesterListItems, new {@class="form-control col-sm-6"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hours, new { @class = "control-label col-sm-2" })

        <div class="col-sm-10">
            @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control col-sm-6" }})
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-success" value="Save changes">
        </div>
    </div>
}
