@model IEnumerable<SubjectViewModel>

@{
    ViewBag.Title = "List of subjects";
}

<h2> @ViewBag.Title </h2>

<p class="text-info"> @ViewBag.Message </p>

<div class="container">

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Name </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Edit
                        </a>
                        <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div>
        <a href="@Url.Action("Create")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Create new subject
        </a>
    </div>
</div>
